* {
  padding:0;
  margin:0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  height:100vh;
  display: flex;
}

section {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex:1;
  transition: all .5s;
}

section:hover {
  flex:2;
}

section h1 {
  background:rgba(0,0,0,0.6);
  color:white;
  padding: 12px 32px;
}

.tutorial{
  background:url('img/ultrapoor.jpg') #ff0909;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.generatefrom{
  background:url('img/ultrapoor1.jpg') #d2ff09;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}


.deshboard{
  background:url('img/ultrapoor2.jpg') #09ff78;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
